<div class="gmcq-inner component-inner">
    {{> component this}}
    <div class="gmcq-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="gmcq-item item {{#unless ../_isEnabled}} {{#if correct}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}} {{odd @index}}">
             
            <label for="{{../_id}}-{{@index}}" class="{{#if selected}}selected{{/if}}">
            
                    <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{_graphic.title}}" data-large="{{_graphic.large}}" data-medium="{{_graphic.medium}}" data-small="{{_graphic.small}}"/>
            
                <div class="gmcq-item-checkbox">
                    <div class="gmcq-item-state">
                        <div class="gmcq-item-icon gmcq-answer-icon icon"></div>
                        <div class="gmcq-item-icon gmcq-correct-icon icon icon-tick"></div>
                        <div class="gmcq-item-icon gmcq-incorrect-icon icon icon-cross"></div>
                    </div>
                    <h5 class="gmcq-item-inner">
                        {{{text}}}
                    </h5>
                </div>
            </label>
            <input type="checkbox" id="{{../_id}}-{{@index}}"/>
        </div>
        {{/each}}
        <div class="buttons">
            {{> buttons this}}
        </div>
    </div>
</div>
